* {
  font-family: 'Futura',sans-serif;
  color: #FCF3CF;
}

body {
  display: flex;
  font-size: 40px;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  text-align: center;
}

aside {
  display: flex;
  flex-direction: column;
  width: 15%;
  max-height: 100%;
  background-color: #566573;
  padding-top: 50px;
}

main {
  width: 70%;
  max-height: 100%;
  background-color:  #273746;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
}

.win-section {
  font-size: 25px;
}

.menu-battle-section {
  height: 80%;
}

h2 {
  font-size: 25px;
}

.game-selection-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-selection-button {
  height: 120px;
  width: 175px;
  color: #283747;
  margin: 25px;
  border-radius: 10px;
  font-size: 15px;
}
