* {
  font-family: 'Futura',sans-serif;
  color: #FCF3CF;
}

body {
  display: flex;
  font-size: 40px;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  text-align: center;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  max-height: 100%;
  background-color: #566573;
  padding-top: 50px;
}

.emoji {
  height: 75px;
  width: 75px;
  font-size: 55px;
}

.win-section {
  font-size: 25px;
}

.change-game-button {
  height: 65px;
  width: 175px;
  color: #283747;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 15px;
}

main {
  width: 70%;
  max-height: 100%;
  background-color:  #273746;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  margin-bottom: 150px;
}

.menu-battle-section {
  height: 80%;
}

h2 {
  font-size: 25px;
}

.main-section {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-selection-button {
  background-color: #D5D8DC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  width: 250px;
  color: #283747;
  margin: 25px;
  border-radius: 10px;
  font-size: 18px;
}

.images-on-buttons-container {
  pointer-events: none;
}
.button-images {
  height: 40px;
  width: 40px;
}

h3 {
    font-size: 25px;
}

.fighter-options-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fighter {
  width: 200px;
  height: 200px;
}

.result-display {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}
